/*imports*/
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .margen-izq h1 {
    font-size: 75px !important;
  }
  h2 {
    font-size: 64px;
  }
  .menu .a-nav {
    font-size: 15px;
  }
  .button-style {
    font-size: 15px;
  }
  .submenu a {
    font-size: 16px;
  }
  .grid-container-index .grid-item-index:first-child {
    grid-row: 1/2 !important;
    grid-column: 1/3 !important;
    width: auto !important;
  }
  .grid-container-index .grid-item-index:nth-child(2) {
    grid-row: 2/3 !important;
    grid-column: 1/3 !important;
    align-items: flex-start !important;
  }
  .footer-izq img {
    width: 25%;
    height: 25%;
  }
  .carousel-caption {
    font-size: 0.75rem;
    position: static;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .margen-izq h1 {
    font-size: 25px !important;
  }
  .menu .a-nav {
    font-size: 10px !important;
    padding: 5% !important;
  }
  .submenu a {
    font-size: 10px;
  }
  .button-style {
    font-size: 10px;
  }
  .grid-container-index .grid-item-index:first-child {
    grid-row: 1/2 !important;
    grid-column: 1/3 !important;
    width: auto !important;
  }
  .grid-container-index .grid-item-index:nth-child(2) {
    grid-row: 2/3 !important;
    grid-column: 1/3 !important;
    align-items: flex-start !important;
  }
  .body-titles {
    font-size: smaller;
  }
  h2 {
    font-size: 32px;
  }
  .footer-izq img {
    width: 100%;
    height: 100%;
  }
  .carousel-caption {
    font-size: 0.75rem;
    position: static;
    margin-top: 25px;
  }
}
/*fuentes para titulos*/
/*colors*/
.accordion-item {
  background-color: transparent;
}
.accordion-item a {
  color: #999950;
  text-decoration: none;
}
.accordion-item a:hover {
  color: #2330e6;
}
.accordion-item .h3-accordion .accordion-button {
  background-color: transparent;
  color: black;
}
.accordion-item .h3-accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: black;
}

/*boton del nav*/
.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: black;
  border: none;
  padding: 1%;
  font-size: 16;
  transition: font-size 0.75s;
}
.button-style:hover {
  color: #2330e6;
  font-size: 24px;
}
.button-style.show {
  color: #2330e6;
  font-size: 24px;
}
.button-style:hover {
  background-color: transparent !important; /*sin !important no toma el comando para active*/
  color: #2330e6;
}
.button-style:active {
  background-color: transparent !important; /*sin !important no toma el comando para active*/
  color: #2330e6;
}
.button-style.show {
  background-color: transparent !important; /*sin !important no toma el comando para active*/
  color: #2330e6;
}

.btn-op {
  background-color: transparent;
}
.btn-op a {
  color: black;
}
.btn-op:hover {
  color: #2330e6;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-item {
  width: 100%;
  height: 650px;
}
.carousel-item .carousel-size {
  position: relative;
  left: 50%; /*mueve un 50% desde su borde izquierdo*/
  transform: translateX(-50%); /*muevo hacia la izquiera un 50% del tamano de la misma imagen*/
  height: 500px;
  width: auto;
}
.carousel-item .carousel-caption {
  display: flex;
  justify-content: center;
}
.carousel-item a {
  color: black;
  text-decoration: none;
}
.carousel-item a:hover {
  color: #2330e6;
}

.drop-op {
  background-color: rgba(200, 200, 200, 0.7);
}

/*fuentes*/
@font-face {
  font-family: "graf";
  src: url(../assets/snikers.ttf);
}
@font-face {
  font-family: "circus";
  src: url(../assets/circusworlddemoregular.ttf);
}
@font-face {
  font-family: "circus-text";
  src: url(../assets/electriccircus.ttf);
}
/*------------------------------------------------*/
.lista-descriptiva {
  list-style-type: none;
}
.lista-descriptiva li {
  font-size: x-large;
  color: white;
}

.h2-header {
  font-family: "circus-text";
  font-size: 64px;
  text-align: center;
}

.h3-clases, .accordion-item .h3-accordion {
  font-family: "circus";
  font-size: 32px;
}

.h3-carousel {
  font-family: "circus";
  font-size: 32px;
}

.formato-flyer {
  display: flex;
  align-items: center;
}
.formato-flyer img {
  margin-bottom: 20px;
}
.formato-flyer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}
.formato-flyer a {
  color: black;
  text-decoration: none;
}
.formato-flyer a:hover {
  color: #2330e6;
}

.art-size {
  width: 25%;
  height: 25%;
}

.nosotros-img {
  width: 20%;
  height: 20%;
}

/*grid nosotros*/
.grid-container-nos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 300px;
}
.grid-container-nos .grid-item-nos {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /*cualquier imagen que se salga del contenedor se tapa*/
}
.grid-container-nos .grid-item-nos img {
  display: block;
  margin: auto;
  width: 90%;
  height: 90%;
}
.grid-container-nos .grid-text-nos {
  grid-column: 2/5;
  align-items: flex-start;
  justify-content: space-between;
}
.grid-container-nos .grid-text-nos p {
  width: 90%;
  font-size: 20px;
}

/*grid index*/
.grid-container-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid-container-index .grid-item-index:first-child {
  height: 90%;
  width: 90%;
  grid-row: 1/3;
}
.grid-container-index .grid-item-index:nth-child(2) {
  height: 90%;
  width: 90%;
  grid-row: 1/3;
  margin: 5%;
  display: flex;
  align-items: center;
}
.grid-container-index .grid-item-index img {
  height: 90%;
  width: 90%;
  margin: 5%;
}
.grid-container-index .grid-item-index p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
  margin-top: 10px;
}
.footer .footer-izq {
  margin-left: 25px;
}
.footer .footer-izq .footer-title {
  font-family: graf;
  font-size: xx-large;
  display: flex;
}
.footer .footer-izq .footer-size {
  height: 10%;
  width: 10%;
  margin-left: 30px;
  transition: transform 1s;
}
.footer .footer-izq .footer-size:hover {
  transform: rotate(720deg) scale(2, 2);
}
.footer .footer-der {
  margin-right: 15px;
}
.footer .footer-der a {
  color: black;
  text-decoration: none;
  transition: font-size 0.75s;
}
.footer .footer-der a:hover {
  color: #2330e6;
  font-size: 18px;
}
.footer .footer-der a.show {
  color: #2330e6;
  font-size: 18px;
}

body {
  font-size: 16px;
  background-image: linear-gradient(to bottom, rgba(255, 216, 24, 0.9529411765), #fa572a);
}
body .main-style {
  margin-left: 2%;
}
body .submenu {
  list-style-type: none;
  text-align: center;
}
body .submenu li {
  display: inline-block;
  font-family: "circus";
  font-size: large;
  padding: 1%;
}
body .submenu li a {
  animation-name: opacity-anim;
  animation-duration: 4s;
  animation-iteration-count: initial;
  animation-timing-function: ease-in;
  text-decoration: none;
  color: black;
}
body .submenu li a:hover {
  color: #2330e6;
}

header {
  /*background-image: linear-gradient(to top, #e50067, #00e5d2);*/
}
header .margen-izq {
  display: flex;
  align-items: center; /*alineados al centro del contenedor*/
  height: 100%;
}
header .margen-izq h1 {
  font-family: "graf"; /*fuente del titulo*/
  font-size: 800%;
  margin: 0;
}
header .margen-izq .logo-size {
  width: 15%;
  height: 15%;
}
header nav {
  font-family: "circus";
  border-bottom: 2px solid black;
}
header nav .menu {
  margin-bottom: 0;
  list-style-type: none; /*lista sola*/
  text-align: right;
  margin-right: 20px;
}
header nav .menu li {
  display: inline-block;
}
header nav .menu li .a-nav {
  color: black;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: font-size 0.75s;
}
header nav .menu li .a-nav:hover {
  color: #2330e6;
  font-size: 20px;
}
header nav .menu li .a-nav.show {
  color: #2330e6;
  font-size: 20px;
}

.animate__animated.animate__backInDown {
  --animate-duration: 2s;
}

@keyframes opacity-anim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
