/*fuentes*/
@font-face {
  font-family: "graf";
  src: url(../assets/snikers.ttf);
}
@font-face {
  font-family: "circus";
  src: url(../assets/circusworlddemoregular.ttf);
}
@font-face {
  font-family: "circus-text";
  src: url(../assets/electriccircus.ttf);
}
/*imports*/
.accordion-item {
  background-color: transparent;
}
.accordion-item a {
  color: #999950;
  text-decoration: none;
}
.accordion-item a:hover {
  color: #e50067;
}
.accordion-item .h3-accordion {
  /*acomodar fuentes h3 acordeon*/
}
.accordion-item .h3-accordion .accordion-button {
  background-color: transparent;
  color: black;
}
.accordion-item .h3-accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: black;
}

/*boton del nav*/
.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #999950;
  border: none;
  padding: 1%;
  font-size: 16;
}
.button-style:hover {
  color: #e50067;
  background-color: rgba(0, 0, 0, 0);
}
.button-style:active {
  color: #e50067 !important; /*por algun motivo prioriza el estilo de bootstrap*/
  background-color: rgba(0, 0, 0, 0) !important;
}
.button-style .show {
  color: #e50067;
  background-color: rgba(0, 0, 0, 0);
}

.btn-op {
  background-color: transparent;
}
.btn-op:hover {
  color: #e50067;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-item {
  height: 650px;
  width: 100%;
}
.carousel-item .carousel-size {
  position: relative;
  left: 50%; /*mueve un 50% desde su borde izquierdo*/
  transform: translateX(-50%); /*muevo hacia la izquiera un 50% del tamano de la misma imagen*/
  height: 500px;
  width: auto;
}
.carousel-item .carousel-caption {
  display: flex;
  justify-content: center;
}
.carousel-item a {
  color: #999950;
  text-decoration: none;
}
.carousel-item a:hover {
  color: #e50067;
}

.drop-op {
  background-image: linear-gradient(to top, #e50067, #00e5d2);
}

/*grid nosotros*/
.grid-container-nos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 300px;
}
.grid-container-nos .grid-item-nos {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /*cualquier imagen que se salga del contenedor se tapa*/
}
.grid-container-nos .grid-item-nos img {
  display: block;
  margin: auto;
  width: 90%;
  height: 90%;
}
.grid-container-nos .grid-text-nos {
  grid-column: 2/5;
  align-items: flex-start;
  justify-content: space-between;
}
.grid-container-nos .grid-text-nos p {
  width: 90%;
  font-size: 20px;
}

/*grid index*/
.grid-container-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.grid-container-index .grid-item-index:first-child {
  height: 90%;
  width: 90%;
  grid-row: 1/3;
}
.grid-container-index .grid-item-index:nth-child(2) {
  height: 90%;
  width: 90%;
  grid-row: 1/3;
  margin: 5%;
  display: flex;
  align-items: center;
}
.grid-container-index .grid-item-index img {
  height: 90%;
  width: 90%;
  margin: 5%;
}
.grid-container-index .grid-item-index p {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

header {
  /*font-size: 16px;*/
  /*background-image: linear-gradient(to top, #e50067, #00e5d2);*/
}
header .margen-izq {
  display: flex;
  align-items: center; /*alineados al centro del contenedor*/
  height: 100%;
}
header .margen-izq h1 {
  font-family: "graf"; /*fuente del titulo*/
  font-size: 150px;
  margin: 0;
}
header .margen-izq .logo-size {
  width: 15%;
  height: 15%;
}
header nav {
  font-family: "circus";
  border-bottom: 2px solid black;
}
header nav .menu {
  list-style-type: none; /*lista sola*/
  text-align: right;
}
header nav .menu li {
  display: inline-block;
}
header nav .menu li a {
  color: #999950;
  padding: 5%;
  margin: 1%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
header nav .menu li a:hover {
  color: #e50067;
}
header .h2-header {
  font-family: "circus-text";
  font-size: 64px;
  text-align: center;
}

body {
  font-size: 16px;
  background-image: linear-gradient(to top, #e50067, #00e5d2);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
  margin-top: 10px;
}
.footer .footer-izq {
  margin-left: 25px;
}
.footer .footer-izq .footer-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  display: flex;
}
.footer .footer-izq .footer-size {
  height: 10%;
  width: 10%;
}
.footer .footer-der {
  margin-right: 15px;
}
.footer .footer-der a {
  color: #999950;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
