.accordion-item {
    background-color: transparent;
    a {
        color: #999950;
        text-decoration: none;
        &:hover {
            color: #e50067;
        }
    }
    .h3-accordion {
        /*acomodar fuentes h3 acordeon*/
        .accordion-button{
            background-color: transparent ;
            color: black ;
            &:not(.collapsed){
                background-color: transparent ;
                color: black ;
            }
        }        
    }

}