.accordion-item {
    background-color: transparent;
    a {
        color: #999950;
        text-decoration: none;
        &:hover {
            color: $hover-color;
        }
    }
    .h3-accordion {
        @extend .h3-clases;
        .accordion-button{
            background-color: transparent ;
            color: black ;
            &:not(.collapsed){
                background-color: transparent ;
                color: black ;
            }
        }        
    }

}