/*boton del nav*/
.button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: $link-color;
    border: none;
    padding: 1%;
    font-size: 16;
    &:hover {
        @include btn-action;
    }
    &:active {
        @include btn-action;
    }
    &.show{
        @include btn-action;
    }
}
.btn-op {
    background-color: transparent;
    &:hover{
        color: $hover-color;
        background-color: rgba(0,0,0,0.2);
    }
}