body {
    font-size: 16px;
    background-image: linear-gradient(to bottom, #ffd818f3 ,#fa572a);
    .main-style {
        margin-left: 2%;
    }
    .submenu {
        list-style-type: none;
        text-align: center;
        li {
            display: inline-block;
            font-family: 'circus';
            font-size: large;
            padding: 1%;
            a{
                animation-name: opacity-anim;
                animation-duration: 4s;
                animation-iteration-count: initial;
                animation-timing-function: ease-in;
                text-decoration: none;
                color: $link-color;
                &:hover{
                    color: $hover-color;            
                }
            }
        }
    }
    
    
}