.footer {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    margin-top: 10px;
    .footer-izq {
        margin-left: 25px;
        .footer-title {
            font-family:graf;
            font-size: xx-large;
            display: flex;
        }
        .footer-size {
            height: 10%;
            width: 10%;
            margin-left: 30px;
            @include logo-anim;
        }
    }
    .footer-der{
        margin-right: 15px;
        a{
            color: $link-color;
            text-decoration: none;
            @include link-action (18px);
        }
    }
}