header {
    /*background-image: linear-gradient(to top, #e50067, #00e5d2);*/
    .margen-izq {
        display: flex;
        align-items: center; /*alineados al centro del contenedor*/
        height: 100%;
        h1 {
            font-family: 'graf'; /*fuente del titulo*/
            font-size: 150px; 
            margin: 0;

        }
        .logo-size {
            width: 15%;
            height: 15%;
        }
    }
    
    nav{
        font-family: 'circus';
        border-bottom: 2px solid black;
        .menu{
            margin-bottom: 0;
            list-style-type: none; /*lista sola*/
            text-align: right;
            margin-right: 20px;
            li {
                display: inline-block;
                .a-nav{
                    color: $link-color;
                    padding: 10px;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    @include link-action (20px);
                }
            }
        }
    }
}